<div class="container mt-3">          
    <table class="table table-dark">
      <thead>
        <tr>
          <th>EMPID</th>
          <th>EMPNAME</th>
          <th>EMPSAL</th>
          <th>EMPDESG</th>
          <th>DATE</th>
          <th>ACTION</th>
        </tr>
      </thead>
      <tbody>
        @for(employee of employees;track employee.eid){
        <tr>
          <td>{{employee.eid}}</td>
          <td>{{employee.ename|uppercase}}</td>
          <td>{{employee.esal|currency:'INR'}}</td>
          <td>{{employee.edesg}}</td>
          <td>{{employee.edoj|date}}</td>
          <td>
          <button><i class="fa-solid fa-trash text-danger" (click)="delete(employee)"></i></button>
          <button><i class="fa-solid fa-pen text-warning"></i></button>
          </td>
          
        </tr>
        
        }
        
        @empty{
            <tr><td>class="text-danger">There are no employees</td></tr> 
        }
      </tbody>
    </table>
  </div>
 
 